<nav style="background:#4e73df; padding:15px; color:#fff;">
    <div style="display:flex; justify-content:space-between; align-items:center;">
        <h3>Student Management System</h3>

        <ul style="list-style:none; display:flex; gap:20px;">
             {% if request.user.is_superuser or request.user.profile.role == 'ADMIN' %}
                <li>
                    <a href="{% url 'admin_dashboard' %}" style="color:#fff; text-decoration:none;">
                        Dashboard
                    </a>
                </li>
            {% elif request.user.profile.role == 'TEACHER' %}
                <li>
                    <a href="{% url 'teacher_dashboard' %}" style="color:#fff; text-decoration:none;">
                        Dashboard
                    </a>
                </li>
            {% elif request.user.profile.role == 'STUDENT' %}
                <li>
                    <a href="{% url 'student_dashboard' %}" style="color:#fff; text-decoration:none;">
                        Dashboard
                    </a>
                </li>
            {% endif %}
            <li><a href="{% url 'mark_attendance' %}" style="color:#fff; text-decoration:none;">Attendance</a></li>
            <li><a href="#" style="color:#fff; text-decoration:none;">Marks</a></li>
            <li><a href="#" style="color:#fff; text-decoration:none;">Profile</a></li>

            {% if request.user.is_superuser or request.user.profile.role == 'ADMIN' %}
            <li><a href="{% url 'student_list' %}" style="color:#fff; text-decoration:none;">Manage Students</a></li>
            {% endif %}

            <li><a href="{% url 'logout' %}" style="color:#fff; text-decoration:none;">Logout</a></li>
        </ul>
    </div>
</nav>
