<h2>{% if student %}Edit{% else %}Add{% endif %} Student</h2>

<form method="post">
    {% csrf_token %}
    <input name="roll_no" placeholder="Roll No" value="{{ student.roll_no|default:'' }}"><br>
    <input name="name" placeholder="Name" value="{{ student.name|default:'' }}"><br>
    <input name="email" placeholder="Email" value="{{ student.email|default:'' }}"><br>
    <input name="course" placeholder="Course" value="{{ student.course|default:'' }}"><br>

    <button type="submit">Save</button>
</form>
